<ion-card class="login-card">
  <ion-card-header class="login-header">
       <ion-label>Login</ion-label>
  </ion-card-header>
  <ion-card-content>
      <ion-list class="input">
        <app-input-email></app-input-email>
        <app-input-password></app-input-password>
      </ion-list>
      <app-button-layout  routerLink="details"></app-button-layout> 
        <p class="donthave">Don't have an account? <span><a href="home/signup" class="create-account">Create one</a></span></p>
  </ion-card-content>
</ion-card>