<ion-card class="login-card">
  <ion-card-header class="login-header">
       <ion-label>Sign up</ion-label>
  </ion-card-header>
  <ion-card-content>
      <ion-list class="input">
          <app-input-name></app-input-name>
          <app-input-email></app-input-email>
          <app-input-password></app-input-password>
          <ion-input aria-label="true" placeholder="Confirm password " type="password" fill="outline" class="second-input" ngModel password ></ion-input>
      </ion-list>
      <app-button-layout  routerLink="details"></app-button-layout>
       <p>Already have an account? <span><a href="home/login" class="create-account">Login</a></span></p>
  </ion-card-content>
</ion-card>
