.continue-button {
    background-color: rgb(255, 58, 58);
    padding: 5px 30px;
    color: white;
    text-align: center;
    font-size: 17px;
    margin-left: 150px;
    margin-top: 35px;
    margin-bottom: 30px;
    border-radius: 10px;
  }