<ion-content class="ion-padding" color="light">
  <h1>Fill here your details</h1>
  <ion-list [inset]="true">
    <ion-list-header class="header">
      <ion-label>Details</ion-label>
    </ion-list-header>
    <ion-item>
      <ion-input label="Enter your full name :   " placeholder=" eg. john ibrahim joe" [clearInput]="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Enter your address :   " placeholder=" eg. Tanzania ,Daressalaam ,Mbezibeach " [clearInput]="true" type="text"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Enter your place of birth :   " placeholder=" eg. Kwema district hospital" [clearInput]="true" type="text"></ion-input>
    </ion-item> 
     
      
  </ion-list>
</ion-content>