.ion-padding {
    text-align: center;
}
h1 {
    color: rgb(255, 57, 57);
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 40px;
}
.header {
    font-size: 25px;
}
.item {
    width: 100%;
}