<ion-content class="ion-padding" color="light">
  <h1>Fill here your details</h1>
  <ion-list [inset]="true">
    <ion-list-header class="header">
      <ion-label>Details</ion-label>
    </ion-list-header>
    
     <ion-item>
      <app-full-name class="item"></app-full-name>
     </ion-item>
     <ion-item>
      <app-email class="item"></app-email>
     </ion-item>
     <ion-item>
      <app-region class="item"></app-region>
     </ion-item>
     <ion-item>
      <app-district class="item"></app-district>
     </ion-item>
     <ion-item>
      <app-phone-number class="item"></app-phone-number>
     </ion-item>
     <ion-item>
      <app-card-number class="item"></app-card-number>
     </ion-item>
      
  </ion-list>
</ion-content>